.container{
    display: flex;
    padding: 0.5rem;
    gap:0.5rem;
    background-color:yellow;
    min-height: 5rem;
    /* eje principal */
    justify-content: space-evenly;

    /* Eje secundario */
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
}
.item{
    background-color: salmon;
    padding: 0.25rem;
    width: 10rem;
}

.item1{
    /* un elemento por separado */
    align-self: stretch;
}